/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.root {
  --main-font: "IBM Plex Mono", monospace, sans-serif;
  --bg-color: rgb(255, 241, 247);
  --text-color: rgb(53, 52, 48);
  --accent-color: rgb(255, 141, 203);
  --heading-color: rgb(255, 194, 230);

  --rec-light-visibility: hidden;
  --rec-dark-visibility: visible;
}

